.inspiration {
    padding-top: 100px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../../img/inspiration/inspiration-bg.jpg');
        height: 362px;
        z-index: -1;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__images {
        margin-right: 78px;
        margin-left: -230px;
    }

    &__content {
        max-width: 825px;
    }

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 60px;
        color: #363838;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 24px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background-color: #6D7278;
        }
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        margin-bottom: 30px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        color: #363838;
        line-height: 23px;
        margin-bottom: 30px;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }

    &__item-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
    }

    &__num {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
    }

    &__line {
        height: 2px;
        background-color: #363838;
        border-radius: 4px;
        margin-top: -2px;
    }
}
