.footer {

    &__content {
        background-color: #DFDFDF;
    
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 80px;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        color: #363838;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    &__info-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
        margin-bottom: 16px;
        max-width: 475px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba(#383636, .7);
        width: 100%;
        &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__form-btn {
        margin-left: 9px;
        border: none;
        background: #363838;
        min-width: 160px;
        padding: 6px 12px;
        border-radius: 21px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #FFFFF0;
        cursor: pointer;
    }

    &__social {
        list-style-type: none;
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }

    &__social-item {
    }

    &__social-item, &__menu-item {
        margin-bottom: 15px;
    }

    &__social-link {
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
    &__social-link_facebook::before {
        background-image: url('../../icons/footer/facebook.svg');
    }
    &__social-link_instagram::before {
        background-image: url('../../icons/footer/instagram.svg');
        width: 14px;
        height: 14px;
        top: 4px;
    }
    &__social-link_pinterest::before {
        background-image: url('../../icons/footer/pinterest.svg');
    }
    &__social-link_whatsapp::before {
        background-image: url('../../icons/footer/whatsapp.svg');
        width: 14px;
        height: 14px;
    }
    &__social-link_youtube::before {
        background-image: url('../../icons/footer/youtube.svg');
        width: 18px;
        height: 12px;
        top: 4px;
    }

    &__social-link, 
    &__menu-link {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
    }

    &__menu {
        margin-right: 60px;
        width: 125px;
    }

    &__menu-list {
        list-style-type: none;
    }

    &__menu-item {
    }

    &__menu-link {
    }

    &__copyright {
        background-color: #363838;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #A1A1A1;
        padding: 42px 0px 41px;
    }
}
