.works-path {
    padding: 80px 0 30px;
    &__title {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        color: #363838;
        margin-bottom: 40px;
    }

    &__items {
        
    }

    &__items-box {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($color: #363838, $alpha: .7);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #363838;
        }
    }

    &__item {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        &-production {
            margin-left: 317px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 20px;
                width: 2px;
                background-color: #363838;
            }
        }
        &-measuring {
            padding-top: 38px;
            margin-left: 305px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 2px;
                background-color: #363838;
            }
        }
        &-consultation,
        &-production {
            padding-bottom: 38px;
        }
    }

    &__item-img {
    }

    &__item-title {
        margin-left: 13px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
        color: #363838;
    }

    &__item-text {
        margin-top: 13px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
    }
}
